<?xml version="1.0" encoding="utf-8"?>
<!--
 Copyright (c) KhooverSoft. All rights reserved.
 Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information.
-->
<packages>
  <package id="Bond.Core.CSharp" version="9.0.5" targetFramework="net471" />
  <package id="Bond.CSharp" version="8.0.0" targetFramework="net471" />
  <package id="Bond.Runtime.CSharp" version="8.0.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
  <package id="System.Threading.Tasks.Dataflow" version="4.8.0" targetFramework="net471" />
</packages>